/* Tiny reset CSS */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* End reset */
/**
 * FLOW
 *
 * A tiny utility that helps with rhythm by adding margin to siblings
 *
 * --flow-space: The amount of space between siblings: Default 1em;
 */
.flow {
  --flow-space: 1.5em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

body {
  --c-base: #fff;
  --c-base-dark: #001433;
  --c-brand-1: #d500ff;
  --c-brand-2: #ffd085;

  background-color: var(--c-base-dark);
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: var(--c-base);
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: var(--c-base);
}

a.link-alt {
  color: var(--c-base-dark);
}

main {
  display: grid;
}
@media (min-width: 640px) {
  main {
    grid-column: 2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.site-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
  grid-gap: 1.5em;
}
@media (min-width: 640px) {
  .site-container {
    font-size: 1.3em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "header header header header header header" ". main main main main ." "footer footer footer footer footer footer";
  }
}
@media (min-width: 1024px) {
  .site-container {
    grid-template-areas: "header header header header header header" ". main main main . ." "footer footer footer footer footer footer";
  }
}

.main {
  --flow-space: 0;
  grid-row: 2;
  grid-area: main;
  padding: 1.5em;
}
@media (min-width: 640px) {
  .main {
    padding: 0;
  }
}

.post > h1:first-of-type {
  grid-column: 1/4;
}

.pagefoot {
  grid-row: 4;
  grid-area: footer;
}

.list-inline {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list-inline-item {
  list-style: none;
  display: inline;
}

.list-style-none {
  list-style: none;
}

.pagehead {
  grid-area: header;
  width: 100%;
  justify-self: center;
  padding: 1.5em 1.5em 3em;
}

.pagehead-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--c-brand-2);
  line-height: 1.2;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}

.top-nav__item:not(:first-child) {
  margin-left: 0.5em;
}

.top-nav__link {
  text-decoration: none;
}

.cms h1 {
  font-size: 2.6em;
  margin-bottom: .5em;
}
.cms h1:first-of-type {
  display: inline-block;
}
.cms h2 {
  font-size: 2.1em;
  margin-bottom: 1em;
}
.cms h3 {
  font-size: 1.8em;
  margin-bottom: 1em;
}
.cms h4 {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.cms h5 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.cms h6 {
  font-size: 1em;
  margin-bottom: 1em;
}
.cms p {
  margin-bottom: 1.4em;
}
.cms > p:first-of-type::first-letter {
  font-size: 4em;
  float: left;
  line-height: 1;
  padding-right: 0.2em;
}

.post-summary {
  background-color: var(--c-brand-2);
  border-radius: 4px;
  color: var(--c-base-dark);
  padding: 2em;
  margin-bottom: 3em;
  font-size: 1em;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
}

.post-summary__heading {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.post-summary__time {
  font-weight: bold;
  font-size: .8em;
}

.post-summary__title {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.post-summary__link {
  border-bottom: .1em solid;
  color: var(--c-base-dark);
  text-decoration: none;
}

.pagefoot {
  box-shadow: 0 0 0 4px currentColor;
  font-size: 0.8em;
  padding: 1.5em;
}
@media (min-width: 640px) {
  .pagefoot {
    box-shadow: none;
  }
}

/*# sourceMappingURL=main.css.map */
