<ul class="post-summary-list list-style-none">
  {% for post in postslist | reverse %}
  <li class="post-summary{% if post.url == url %} post-summary--active{% endif %}">
    <time class="post-summary__time" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h2 class="post-summary__title"><a class="link-alt" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
    <p class="post-summary__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate ipsum rutrum magna maximus, vulputate aliquam nisl luctus. Aenean eu turpis ut metus lacinia consectetur sed in purus.</p>
    {% for tag in post.data.tags %}
      {%- if tag != "posts" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
  {% endfor %}
</ul>
