{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render note date and any tags that this note has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% endset %}

{% block content %}
<article class="note flow" {% if lang %}lang="{{lang}}"{% endif %}>
  <header>
    {% if link %}
    <h1 class="note__title"><a class="note__title" href="{{ link }}" rel="noopener">{{ title }}</a></h1>
    {% else %}
      <h1 class="note__title">{{ title }}</h1>
    {% endif %}
  </header>
  <div class="note__body flow">{{ content | safe }}</div>
  <footer class="note__footer flow">
    <div class="note__date">{{ date | dateFilter }}</div>
    <div class="note__tags">
      <ol class="note__tags">
        {% for tag in tags %}
          <li class="note__tag">
            <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </footer>
</article>
{% endblock %}