{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render note date and any tags that this note has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% if tags %}
<p class="visually-hidden" id="tags-desc">Tags that this note has been filed under.</p>
<ul class="list-inline" aria-describedby="tags-desc">
  {% for tag in tags %}
  <li>
    <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endset %}

{% block content %}
<article>
  {% include "partials/page-header.html" %}
  <div>
    {{ content | safe }}
  </div>
</article>
<section class="flow">
  <h3>Webmentions</h3>
  {% set webmentionUrl %}
    {{ page.url | url | absoluteUrl(site.url) }}
  {% endset %}
  {% include 'partials/webmentions.html' %}
</section>
{% endblock %}