@use "mixins";
@use "config";

html,
body {
  height: 100%;
}

html {
  font-family: config.$font-base-family;
  font-size: config.$font-root-size;
}

body {
  --body-background-color: #{config.$bgcolor-body-light};
  --base-color: #{config.$color-text-light};

  display: flex;
  flex-direction: column;
  background-color: var(--body-background-color);
  color: var(--base-color);
  font-size: config.$font-base-size;
  @include mixins.line-height(config.$font-base-size);

  @media (prefers-color-scheme: dark) {
    --body-background-color: #{config.$bgcolor-body-dark};
    --base-color: #{config.$color-text-dark};
  }
}

a {
  --link-color: #{config.$color-link-light};
  --link-underline-color: #{config.$color-text-light};

  color: var(--link-color);
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: .08em;

  @media (prefers-color-scheme: dark) {
    --link-color: #{config.$color-link-dark};
    --link-underline-color: #{config.$color-text-dark};
  }
}

[href^="http"] {
  &:after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    @media (prefers-color-scheme: dark) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    }
  }
}

code {
  background: aquamarine;
  padding: 0 0.1em;

  @media (prefers-color-scheme: dark) {
    color: var(--body-background-color);
  }
}

.skip-link {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 1em;
  text-decoration: none;

  &:focus {
    position: fixed;
    width: auto;
    height: auto;
    clip: auto;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--body-background-color);
  border-bottom: 4px solid currentColor;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

main {
  max-width: 72rem;
  margin: 4rem auto;
  padding: 0 2rem;
}

ol[class],
ul[class] {
  list-style: none;
  padding-left: 0;
}

.logo,
strong,
[role="doc-noteref"] {
  font-family: config.$font-base-family-bold;
}

em {
  font-family: config.$font-base-family-italic;
}

em strong,
strong em {
  font-family: config.$font-base-family-bolditalic;
}

h1 {
  font-size: config.$font-base-size * 1.9;
}

h2 {
  font-size: config.$font-base-size * 1.7;
}

h3 {
  font-size: config.$font-base-size * 1.55;
}

hr {
  margin: 1rem auto;
  height: 1px;
  border: none;
  background: var(--base-color);
}

.list-inline {
  display: flex;
  gap: 1rem;
}

.visually-hidden {
  border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  margin-left: .1em;
}

blockquote {
  border-left: 4px solid currentColor;
  padding: 2rem;
  margin: 1rem;
}

[role="doc-noteref"] {
  font-size: 1.2rem;
}

[role="doc-endnotes"] {
  --flow-space: 4rem;

  padding: 2rem 0;
  font-size: 1.6rem;
  border-top: 1px solid currentColor;
}

.site-footer {
  margin-top: auto;
  padding: 2rem;
  border-top: 4px solid currentColor;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3.5rem;
  color: var(--base-color);
  text-decoration: none;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ol.footnotes-list {
  list-style: number;
  padding-inline: 1.3rem;
  font-size: small;
}

.home-notes__footer {
  display: flex;
  justify-content: end;
}

.post-list {
  margin: 0;
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, auto);
}
