$color-light: hsl(37deg 63% 97%) !default;
$color-dark: hsl(0deg 0% 13%) !default;
$color-accent1: hsl(233deg 100% 57%) !default;
$color-accent2: hsl(197deg 100% 71%) !default;
$color-grey-f4: hsl(0, 0%, 96%);
$color-grey-35: hsl(0, 0%, 21%);

$font-root-size: 62.5% !default;
$font-base-size: 1.8rem !default;
$font-base-family: 'IBM Plex Mono', monospace !default;
$font-base-family-bold: $font-base-family !default;
$font-base-family-italic: $font-base-family !default;
$font-base-family-bolditalic: $font-base-family !default;

$bgcolor-body-light: $color-light !default;
$bgcolor-body-dark: $color-dark !default;
$color-text-light: $color-dark !default;
$color-text-dark: $color-light !default;
$color-link-light: $color-accent1 !default;
$color-link-dark: $color-accent2 !default;

$flow-space: 1.2rem !default !default;