$color-light: #fff !default;
$color-dark: #222 !default;
$color-accent1: #263eff !default;
$color-accent2: #6ad5ff !default;
$color-grey-f4: #f4f4f4;
$color-grey-35: #353535;

$font-root-size: 62.5% !default;
$font-base-size: 1.8rem !default;
$font-base-family: 'Lato-Medium', sans-serif !default;
$font-base-family-bold: 'Lato-Bold', sans-serif !default;
$font-base-family-italic: 'Lato-Medium-Italic', sans-serif !default;
$font-base-family-bolditalic: 'Lato-Bold-Italic', sans-serif !default;

$bgcolor-body-light: $color-light !default;
$bgcolor-body-dark: $color-dark !default;
$color-text-light: $color-dark !default;
$color-text-dark: $color-light !default;
$color-link-light: $color-accent1 !default;
$color-link-dark: $color-accent2 !default;

$flow-space: 1.2rem !default !default;