@use "config";

.notes-list {
  --flow-space: 2.5rem;

  > li::marker {
    color: var(--base-color);
    content: "~ ";
    font-weight: 700;
  }
}

.note {
  --flow-space: 2rem;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // list-style: none;
  font-size: 1.8rem;

  @media (prefers-color-scheme: dark) {
    border-color: config.$color-grey-35;
  }

  > * {
    --flow-space: 2rem;
  }
}

.note__title {
  font-weight: bold;
}

.note__date {
  font-size: smaller;
  font-weight: bold;
}

.note__link {
  font-size: smaller;
}

.note__link--internal {
  text-decoration: none;
  color: var(--base-color);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.note__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__tags {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: small;
  font-weight: bold;
}