@use "config";

.notes-list{
  --flow-space: 2.5rem;
}

.note {
  --flow-space: 2rem;

  position: relative;
  list-style: none;
  padding: 2rem 2rem 1.6rem;
  font-size: 1.6rem;
  border: 1px solid config.$color-grey-f4;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: -10px;
  //   top: 0px;
  //   width: 10px;
  //   height: 25%;
  //   background-color: #0d0;
  // }

  @media (prefers-color-scheme: dark) {
    border-color: config.$color-grey-35;
  }

  &:nth-child(2n+1) {
    background: config.$color-grey-f4;
    border: none;

    @media (prefers-color-scheme: dark) {
      background: config.$color-grey-35;
    }
  }

  > * {
    --flow-space: 2rem;
  }
}

.note__header {
  justify-content: space-between;
  align-items: center;

  @media (min-width: 376px) {
    display: flex;
  }
}

.note__title {
  display: inline-block;
  font-weight: bold;
  font-size: large;
}

.note__date {
  font-size: smaller;
}

.note__link {
  font-size: smaller;
}

.note__link--internal {
  text-decoration: none;
  color: var(--base-color);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.note__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0;
  margin-top: 2rem;
  border-top: 1px solid currentColor;
}

.note__tags {
  display: flex;
  gap: 1rem;
  margin: 0;
  list-style: none;
  font-size: small;
}