@font-face {
  font-family: 'Lato-Medium';
  font-weight: normal;
  src: url('../fonts/LatoLatin-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Medium-Italic';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/LatoLatin-MediumItalic.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: bold;
  src: url('../fonts/LatoLatin-Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold-Italic';
  font-weight: bold;
  src: url('../fonts/LatoLatin-BoldItalic.woff2');
  font-display: swap;
}