---
layout: layouts/base.njk
templateClass: tmpl-home
---

<section class="cms">
  <h1>Hello, I'm Niels</h1>
  <p>A <strong>front-end developer</strong> from Leiden, the Netherlands.
    This is my personal website. Currently I'm working on building accessible
    websites by using <em>HTML</em>, <em>JavaScript</em> and <em>CSS</em>.
    I position myself somewhere between design, marketing and development.
    I make sure a website is accessible, looks good, has excellent performance and is SEO optimized.
  </p>
  <p>This website is still under construction. More coming soon.</p>
</section>
{{ content | safe }}
