{% if notesListHeadline %}
  <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
    {{ notesListHeadline }}
  </h2>
{% endif %}
<ol class="notes-list flow">
  {% for item in notesListItems %}
  <li class="note flow">
    {% if item.data.link %}
      <a class="note__title" href="{{ item.data.link }}" rel="noopener">{{ item.data.title }}</a>
    {% else %}
      <h3 class="note__title">{{ item.data.title }}</h3>
    {% endif %}
    <div class="note__body">{{ item.data.content | safe }}</div>
    <div class="note__date">{{ item.data.date | dateFilter }}</div>
  </li>
  {% endfor %}
</ol>